<% if Rails.env.development? %> 
  <div id="debug" align="center"> 
	<a href="#" onclick="Element.toggle('params_debug_info');return false"> 
		params</a> | 
	<a href="#" onclick="Element.toggle('session_debug_info');return false"> session</a> 
	<fieldset id="params_debug_info" class="debug_info" style="display:none">
		<legend>params</legend>
		<%= debug(params) %> 
	</fieldset> 
	<fieldset id="session_debug_info" class="debug_info" style="display:none"> 
		<legend>sessions</legend>
		<%= debug(session) %> 
	</fieldset>
  </div>
<% end %>